# dependencies
/node_modules

# next.js
/.next
/out

# env
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os/editor junk
.DS_Store
Thumbs.db
*.swp

# hosts
.vercel
.netlify

# coverage/temp
coverage
tmp

# Playwright
playwright-report/
test-results/
